<div class="container">
    <h4>This is about our company</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus nobis quidem minima vel ipsum dignissimos autem obcaecati ducimus eaque, impedit, sunt aut beatae reiciendis, sequi quibusdam illo consequatur itaque harum.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, provident rerum perferendis ipsa, ipsum aut iste, quae minus dolorem hic deleniti facere officia. Cupiditate doloribus aliquam delectus. Possimus, molestias. Similique, vero! Esse, consequuntur eaque! Tempore blanditiis, error deleniti dolore ea praesentium. Quibusdam incidunt numquam rerum fugit, possimus consequatur cumque dolore?</p>
</div>